extends layouts/_panel.pug
block content
  #panel-content: section
    .text-center
      h4 Mi tienda
      span.text-primary ID #001
    form(name="tienda")
      select.mdb-select.md-form.mt-5.col-md-6.mx-auto(name="sucursal")
        option(value='', disabled='', selected='') Nombre de la sucursal
        option(value='1') Coorporativa
        option(value='2') Personal
        option(value='3') Otras
      .md-form.my-5.col-md-6.mx-auto
          input#form1.form-control(type='text', name="direccion")
          label(for='form1') Dirección
      .md-form.col-md-6.mx-auto.pb-5
          input#form1.form-control(type='text', name="id")
          label(for='form1') ID
      button.btn.btn-primary.col-md-6.col-10.mx-auto.d-block Agregar