extends layouts/_panel.pug
block content
  #panel-content: section
    .text-center
      h4 Agregar usuario
    .col-11.mx-auto.mt-5
      form.row.d-md-flex(name="usuarios")
        .md-form.col-md-6
          input#form1.form-control(type='text', name="nombre")
          label(for='form1') Nombre
        .md-form.col-md-6
          input#form1.form-control(type='text', name="apellido")
          label(for='form1') Apellido
        .md-form.col-md-6
          input#form1.form-control(type='text', name="email")
          label(for='form1') Email
        .md-form.col-md-6
          input#form1.form-control(type='text', name="telefono")
          label(for='form1') Teléfono
        select.mdb-select.md-form.mt-0.col-md-6.mt-4(name="sucursal")
          option(value='', disabled='', selected='') Selecciona una sucursal
          option(value='1') Coorporativa
          option(value='2') Personal
          option(value='3') Otras
        select.mdb-select.md-form.mt-0.col-md-6.mt-4(name="sucursal")
          option(value='', disabled='', selected='') Selecciona rol
          option(value='1') Administrador
          option(value='2') Vendedor  
        button.btn.btn-primary.col-md-6.col-10.mx-auto.d-block.mt-5 Agregar