extends layouts/_panel.pug
block content
  #panel-content: section
    .text-center
      h4 Comisiones
    .col-md-7.col-11.mx-auto
      .border-bottom.mt-5.mb-4.pb-3
        h6.text-primary JULIO
      .row
        .col-md-4.col-12.d-md-block.d-flex
          span.font12-px.text-black-50 Equipos financiados
          p.ml-auto.mr-5.ml-md-auto 15
        .col-md-4.col-12.d-md-block.d-flex
          span.font12-px.text-black-50 Mi comisicón
          p.ml-auto.mr-5.ml-md-auto $11234567º
    .col-md-7.col-11.mx-auto
      .border-bottom.mt-5.mb-4.pb-3
        h6.text-primary JUNIO
      .row
        .col-md-4.col-12.d-md-block.d-flex
          span.font12-px.text-black-50 Equipos financiados
          p.ml-auto.mr-5.ml-md-auto 15
        .col-md-4.col-12.d-md-block.d-flex
          span.font12-px.text-black-50 Mi comisicón
          p.ml-auto.mr-5.ml-md-auto $11234567º
    .col-md-7.col-11.mx-auto.mt-5
      a.d-flex(href="#")
        i.cm-flecha-abajo-rojo.mr-3
        p.text-primary  Descargar reporte completo
        