style.
  *{
    font-family: sans-serif;
  }
  .header{
    width: 90%;
    border-bottom: 1px solid #dddddd96;
    margin: auto;
  }
  .logo{
    width: 20%;
    margin: auto;
    display: block;
    padding-bottom: 10px;
  }
  h3{
    text-align: center;
    color: #5B5B5F;
    margin-top: 50px;
  }
  p{
    line-height: 25px;
    text-align: center;
    color: #5B5B5F;
  }
  span{
    color:#CE4733;
  }
  a{
    margin: 0.375rem;
    color: inherit;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: 2.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 0.84rem 2.14rem;
    font-size: 0.81rem;
    color: white;
    background: #c12645;
    margin: 50px auto;
    display: block;
    width: 13%;
    text-decoration: none;
    text-align: center;
  }
  @media (max-width: 768px) {
    .logo{
      width: 70%;
    }
    a{
      width: 60%;
    }
    br{
      display:none;
    }
  }
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Esta es el panel de credimutos smartPhone")
    meta(name="author" content="Crediminuto SmartPhone")
    title Document
  body
  .header
    img.logo(src="img/logo.svg", alt="Logo crediminutos", srcset="")
  h3  ¡Bienvenido Miguel!
  p Carga tus datos bancarios para poder activar tus <br> comisiones de <span> 15.000 </span> pesos por cada Smartphone <br> financiado con Crediminuto.
  a(href="#") Carga tus datos aquí