extends layouts/_panel.pug
block content
  #panel-content: section.my-5.container-md
    p ¿Que necesitas hacer?
    .row
      a.card.col-md.col-sm-12.mt-2.mt-md-0.mx-3(href='requests.html'): .my-auto.d-flex
        .body-card-text.d-xs-flex.align-items-center
          embed.img-card.mr-3.mr-md-0.mb-md-3(src='img/agregar-rojo-1.svg', style='width: 45px', alt='')
          |Nueva solicitud
        i.fas.fa-chevron-right.ml-auto.my-auto.d-inline-block.d-lg-none
      a.card.col-md.col-sm-12.mt-2.mt-md-0.mx-3(href='#'): .my-auto.d-flex
        .body-card-text.d-xs-flex.align-items-center
          embed.img-card.mr-3.mr-md-0.mb-md-3(src='img/agregar-carro-rojo.svg', alt='')
          |Ver solicitudes
        i.fas.fa-chevron-right.ml-auto.my-auto.d-inline-block.d-lg-none
      a.card.col-md.col-sm-12.mt-2.mt-md-0.mx-3(href='user-self.html'): .my-auto.d-flex
        .body-card-text.d-xs-flex.align-items-center
          embed.img-card.mr-3.mr-md-0.mb-md-3(src='img/agregar-usuario-rojo.svg', alt='')
          |Administrar usuarios
        i.fas.fa-chevron-right.ml-auto.my-auto.d-inline-block.d-lg-none
      a.card.col-md.col-sm-12.mt-2.mt-md-0.mx-3(href='reports.html'): .my-auto.d-flex
        .body-card-text.d-xs-flex.align-items-center
          embed.img-card.mr-3.mr-md-0.mb-md-3(src='img/reporte-rojo.svg', alt='')
          |Ver reportes
        i.fas.fa-chevron-right.ml-auto.my-auto.d-inline-block.d-lg-none
    .row.mt-md-4 
      a.card.col-md.col-sm-12.mt-2.mt-md-0.mx-3(href='table.html'): .my-auto.d-flex
        .body-card-text.d-xs-flex.align-items-center
          embed.img-card.mr-3.mr-md-0.mb-md-3(src='img/table-edit.svg', alt='')
          |Table
        i.fas.fa-chevron-right.ml-auto.my-auto.d-inline-block.d-lg-none
      .col-md.col-sm-12.mt-2.mt-md-0.mx-4: .my-auto.d-flex
        //- Vacio 
      .col-md.col-sm-12.mt-2.mt-md-0.mx-4: .my-auto.d-flex
        //- Vacio 
      .col-md.col-sm-12.mt-2.mt-md-0.mx-4: .my-auto.d-flex
        //- Vacio 

     


        
         