extends layouts/_panel.pug
block content
  #panel-content: section
    .text-center
      h4  Liquidaciones
    .col-md-10.col-12.mx-auto.px-md-0  
      select.mdb-select.md-form.input-sm.my-0.col-md-3.border-cm-0.mt-4.col-md-3.col-6
        option( selected='' disabled) Mes Julio
        option(value='0') Mes Julio
        option(value='1') Mes Junio
        option(value='2') Mes ....
    .table-responsive-sm
      table.table.table-borderless.mx-auto.col-md-10.col-12
        thead.border-top.border-bottom.text-muted 
          tr
            th  MES
            th  SUCURSAL
            th  MONTOS FINANCIADOS
        tbody
          tr
            td  JULIO
            td  Abasto
            td  $10.000
          tr
            td  Julio
            td  Florida
            td  $22.000
          tr
            td  Mayo
            td  Unicenter
            td  $17.000
    .col-md-10.col-11.mx-auto.mt-5
      a.d-flex(href="#")
        i.cm-flecha-abajo-rojo.mr-3
        p.text-primary  Descargar reporte completo   
        