extends layouts/_form.pug
block content
  #login-fondo(style="padding-top: 10vh;")
    form.col-md-5.mx-auto.text-center.border.border-light.p-5.bg-white.rounded(action='' id="formRegister")
      .border-bottom.pb-3
        embed.logo(src="img/logo.svg", type="")
      h4.mt-5  Bienvenido, ingresa a la tienda
      .md-form.cm-label-center.my-5
        input#email.form-control(type='email', name="email")
        label(for='email') Corre electrónico
      .md-form.cm-label-center.my-4
        input#password.form-control.is-valid(type='password', name="password")
        label(for='password') Contraseña
      button.btn.btn-light.send.col-12(disabled)  Ingresar
block script
  script.
    $('#formRegister').validate({
      rules:{
        email:{
          required:true,
          email:true
        },
        password:{
          required:true
        }
      },
      messages:{
        email:{
          required:'El campo email es requiredo',
          email:'Deben ingresar un correo valido'
        },
        password:{
          required:'Este campo es requerido'
        }
      },
      errorElement: "small",
        errorPlacement: function ( error, element ) {
          error.addClass( "invalid-feedback" );

          if ( element.prop( "type" ) === "select-one" ) {
              error.insertAfter($("label[for='"+element.prop( "id" )+"']"));
          }
          if ( element.prop( "type" ) === "checkbox" ) {
              error.insertAfter( element.next("label") );
          }
          else {
              error.insertAfter( element.next("label") );
          }
        },
        highlight: function ( element, errorClass, validClass ) {
            $( element ).addClass( "is-invalid" ).removeClass( "is-valid" );
        },
        unhighlight: function (element, errorClass, validClass) {
            $( element ).addClass( "is-valid" ).removeClass( "is-invalid" );
        }
    });

    $('#formRegister').on('keyup blur keypress change', function () {
        if ($('#formRegister').validate().checkForm()) {
            $('.send').prop('disabled', false);
            $('.send').removeClass('btn-light').addClass('btn-primary');
        } else {
            $('.send').prop('disabled', 'disabled');
            $('.send').removeClass('btn-primary').addClass('btn-light');
        }
    });
