extends layouts/_panel.pug
block content
  #panel-content: section
    .text-center
      h4 Mi tienda
    .col-md-10.col-11.mx-auto
      .border-bottom.mt-5.mb-4.pb-3
        h6.text-primary INFORMACIÓN DE LA TIENDA
      .row
        .col-md-4.col-12
          span.font12-px.text-black-50 Nombre de la tienda
          p Abasto
        .col-md-4.col-12
          span.font12-px.text-black-50 NIT
          p 1234567890
        .col-md-4.col-12
          span.font12-px.text-black-50 Nro de teléfono
          p +51 123 4567890
    .col-md-10.col-11.mx-auto
      .border-bottom.mt-5.mb-4.pb-3
        h6.text-primary ADMINISTRADOR DE LA TIENDA
      .row
        .col-md-4.col-12
          span.font12-px.text-black-50 Nombre y apellido
          p Roberto Perez
        .col-md-4.col-12
          span.font12-px.text-black-50 Email
          p robertoperez@gmail.com
        .col-md-4.col-12
          span.font12-px.text-black-50 Teléfono
          p 1234567890
    .col-md-10.col-11.mx-auto
      .border-bottom.mt-5.mb-4.pb-3
        h6.text-primary SUCURSALES
      table.table.table-borderless.text-muted 
        thead
          tr
            th: span.font12-px.text-black-50  ID
            th: span.font12-px.text-black-50  Nombre de tienda
            th: span.font12-px.text-black-50
        tbody
          tr
            td.py-2  01
            td.py-2  Abasto
            td.py-2: a.text-primary(href="#") Más info 
          tr
            td.py-2  02
            td.py-2  Salta
            td.py-2: a.text-primary(href="#") Más info
          tr
            td.py-2  03
            td.py-2  Florida 1100
            td.py-2: a.text-primary(href="#") Más info
          tr
            td.py-2  04
            td.py-2  Coqui
            td.py-2: a.text-primary(href="#") Más info
block modal
  //- Central Modal Small
  #centralModalSm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-md(role='document')
      .modal-content
        .modal-header.border-bottom-0
          h4#myModalLabel.modal-title.w-100 
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span.text-muted(aria-hidden='true') ×
        .modal-body.px-5.text-muted
          .border-bottom.pb-3
            h4.text-primary.mb-0  #001 / Abasto Shopping
            span.font12-px  Calle 34 No. 6-65. Bogotá, Colombia.
          div.mt-3 
            span.font12-px  Jefe de sucursal
            p  Miguel Gorostarzu
          div 
            span.font12-px  Dirección
            p  Calle 34 No. 6-65. Bogotá, Colombia.
          div 
            span.font12-px  Teléfono
            p  +51 123 4567890
block boton_hover
  include layouts/components/_botton-hover 
block script
  script.
    $('#centralModalSm').modal('show');