extends layouts/_panel.pug
block content
  #panel-content: section
    .text-center
      i.cm-check.font42-px.mb-2
        span.path1
        span.path2
      h4 Solicitudes activa
    #accordionEx.accordion.md-accordion.mt-md-4(role='tablist' aria-multiselectable='true').col-md-10.mx-auto
      .card.px-0.d-md-flex
        // Card header
        #headingOne1.card-header(role='tab').d-flex
          a(data-toggle='collapse' data-parent='#accordionEx' href='#collapseOne1' aria-expanded='true' aria-controls='collapseOne1')
            h6.mb-0.text-primary
              i.fas.fa-angle-right.rotate-icon.mr-3
              | ESTADO DEL PRÉSTAMO
          div.ml-auto
            a.link-table
              img(src='img/share.svg')
            a.mx-3.link-table
              img(src='img/print.svg')
            a.link-table.border-left.pl-3
              img(src='img/pago.svg')
        // Card body
        #collapseOne1.collapse.show.mt-md-3(role='tabpanel' aria-labelledby='headingOne1' data-parent='#accordionEx').border-top
          .card-body.px-0.pt-1
            .table-responsive-sm.col-12.px-0
              table.table.table-borderless.mx-auto.table-hover
                thead.border-bottom
                  tr.text-muted
                    th  CUOTA
                    th  VTO.
                    th  MONTO CUOTA
                    th  PENDIENTE
                    th  ESTADO
                tbody
                  tr.text-muted
                    td(scope='row') 1 / 6
                    td  12/04/21
                    td  $101.542
                    th  $0
                    td.text-success.d-flex.align-items-center
                      i.fas.fa-check-circle.font23-px
                      span.ml-2 Pagado
                  tr.text-muted
                    td(scope='row') 2 / 6
                    td  12/04/21
                    td  $101.542
                    th  $50.000
                    td.text-primary.d-flex.align-items-center
                      i.fas.fa-times-circle.font23-px
                      span.ml-2 Vencida
                  tr.text-muted
                    td(scope='row') 3 / 6
                    td  12/04/21
                    td  $101.542
                    th  $101.542
                    td.text-warning.d-flex.align-items-center
                      i.fas.fa-clock.font23-px
                      span.ml-2 A vencer
                  tr.text-muted
                    td(scope='row') 4 / 6
                    td  12/04/21
                    td  $101.542
                    th  $101.542
                    td.text-warning.d-flex.align-items-center
                      i.fas.fa-clock.font23-px
                      span.ml-2 A vencer
                  tr.text-muted
                    td(scope='row') 5 / 6
                    td  12/04/21
                    td  $101.542
                    th  $101.542
                    td.text-warning.d-flex.align-items-center
                      i.fas.fa-clock.font23-px
                      span.ml-2 A vencer
                  tr.text-muted
                    td(scope='row') 6 / 6
                    td  12/04/21
                    td  $101.542
                    th  $101.542
                    td.text-warning.d-flex.align-items-center
                      i.fas.fa-clock.font23-px
                      span.ml-2 A vencer
      .card.px-0
        // Card header
        #headingTwo2.card-header(role='tab')
          a.collapsed(data-toggle='collapse' data-parent='#accordionEx' href='#collapseTwo2' aria-expanded='false' aria-controls='collapseTwo2')
            h6.mb-0.text-primary
              i.fas.fa-angle-right.rotate-icon.mr-3
              | INFORMACIÓN PERSONAL            
        // Card body
        #collapseTwo2.collapse.mt-md-3(role='tabpanel' aria-labelledby='headingTwo2' data-parent='#accordionEx').border-top
          .card-body.px-0.d-md-flex
            .col-md-4.col-12
              span.font12-px.text-black-50 Nombre y apellido
              p Miguel Gorostarzu
            .col-md-4.col-12
              span.font12-px.text-black-50 Cédula de ciudadanía
              p 1234567890
            .col-md-4.col-12
              span.font12-px.text-black-50 Nro de teléfono
              p +51 123 4567890
      .card.px-0
        // Card header
        #headingThree3.card-header(role='tab')
          a.collapsed(data-toggle='collapse' data-parent='#accordionEx' href='#collapseThree3' aria-expanded='false' aria-controls='collapseThree3')
            h6.mb-0.text-primary
              i.fas.fa-angle-right.rotate-icon.mr-3
              | INFORMACIÓN PRÉSTAMO        
        // Card body
        #collapseThree3.collapse.mt-md-3(role='tabpanel' aria-labelledby='headingThree3' data-parent='#accordionEx').border-top
          .card-body.px-0.d-md-flex
            .col-md-4.col-6
              span.font12-px.text-black-50 Monto total
              p $250.000
            .col-md-4.col-6
              span.font12-px.text-black-50 Adelanto
              p $50.000
            .col-md-4.col-12
              span.font12-px.text-black-50 Plan de pago
              p 6 cuotas de $15.000
      .card.px-0
        // Card header
        #headingFour4.card-header(role='tab')
          a.collapsed(data-toggle='collapse' data-parent='#accordionEx' href='#collapseFour4' aria-expanded='false' aria-controls='collapseFour3')
            h6.mb-0.text-primary
              i.fas.fa-angle-right.rotate-icon.mr-3
              | INFORMACIÓN EQUIPO           
        // Card body
        #collapseFour4.collapse.mt-md-3(role='tabpanel' aria-labelledby='headingFour4' data-parent='#accordionEx').border-top
          .card-body.px-0.d-md-flex
            .col-md-4.col-12
              span.font12-px.text-black-50 Equipo
              p Samsung Galaxy A80
            .col-md-4.col-12
              span.font12-px.text-black-50 IMEI
              p 12345678908975322
            .col-md-4.col-12
              span.font12-px.text-black-50
              p
block modal
  //- Central Modal Small
  #centralModalSm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-md(role='document')
      .modal-content
        .modal-header.border-bottom-0.pb-0
          h4#myModalLabel.modal-title.w-100
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span.text-muted(aria-hidden='true') ×
        .modal-body.px-md-5.px-3.text-muted
          .pb-3.border-bottom-m.mt-movil-modal-header
            h4.text-primary.mb-0 Pago de cuota <span class="cuotas">2 / 6</span>
          div.mt-md-5
            select.mdb-select.md-form.input-sm.my-0.mt-4
              option( selected='' disabled) Tipo de pago
              option(value='0') Deuda vencida
              option(value='1') Próxima cuota
              option(value='2') Total préstamo
              option(value='3') Otro Monto
          div.mt-5
            .md-form.my-4.input-simple
              label(for='password').ml-0.transform-fix-inputIngresa Monto a pagar
              input#password.form-control(type='text', name="text")
          div.d-md-flex.px-4(style="display: grid;").my-md-5.my-3
            button.btn.btn-outline-primary.btn-rounded.col-md-6.col-12.order-md-1.order-2 Cancelar
            button.btn.btn-primary.btn-rounded.col-md-6.col-12.order-md-2.order-1#confirmar Confirmar pago
  //- Central Modal Small
  #centralModalSm2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-md(role='document')
      .modal-content
        .modal-header.border-bottom-0.pb-0
          h4#myModalLabel2.modal-title.w-100
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span.text-muted(aria-hidden='true') ×
        .modal-body.px-md-5.px-3.text-muted
          .pb-3.border-bottom-m.mt-movil-modal-header
            h4.text-primary.mb-0  Pago de cuota <span class="cuotas">2 / 6</span>
          div.mt-3
            .d-md-flex.justify-content-md-start.justify-content-center(style='display: grid;')
              i.cm-check.font50-px.mb-2.mx-auto.mx-md-0
                span.path1
                span.path2
              h5.align-items-center.d-md-flex.ml-md-4.text-md-left.text-center Pago registrado
          div.mt-4
            .md-form.my-4.input-simple
              label(for='password').ml-0.transform-fix-inputIngresa Tipo de pago
              input.form-control.disabled.border-bottom-0(disabled="true" type='text', name="text" value="Deuda vencida")
            .md-form.my-4.input-simple
              label(for='password').ml-0.transform-fix-inputIngresa Monto pagado
              input.form-control.disabled.border-bottom-0(disabled="true" type='text', name="text" value="$100")
            
              
block boton_hover
  include layouts/components/_botton-hover
block script
  script(src="js/modal-init.js")