extends layouts/_panel.pug
block content
  #panel-content: section
    .text-center
      h4  Miguel Gorostarzu
    form
      .col-md-10.col-11.mx-auto
        .row
          .md-form.mt-5.col-md-6
            input#form1.form-control(type='text', name="direccion")
            label(for='form1') Dirección
        .border-bottom.mt-4.mb-2.pb-3
          h6.text-primary DIRECCIÓN
        span.font12-px Ingresa tu dirección a continuación, se mostraran las opciones que detecta Google Maps. 
        .row.d-md-flex
          //- Direccion
          .input-group.col-md-6.mb-2.mt-5.d-flex.mb-5
            .input-group-prepend.col-md-1.col-2.px-0
              .input-group-text.border-right-0.ml-auto(style='background: none;')
                i.fas.fa-home.text-primary
            .col-md-11.col-10.px-0
              input#localizacion.form-control.form-control-lg.py-0.border-left-0.js-example-basic-multiple(type='text', name='localizacion', placeholder='Comodoro Rivadavia 177')
          .md-form.my-5.col-md-6
            input#form1.form-control(type='text', name="Piso / Apartamento")
            label(for='form1') Piso
      .col-md-10.col-11.mx-auto
        .border-bottom.mt-4.mb-2.pb-3
          h6.text-primary CUENTA BANCARIA
        span.font12-px Recibirás $15.000 por cada finaciación de CrediMinuto Smartphones, ingresa tus datos para recibir el pago.
        .row
          .md-form.my-5.col-md-6
            input#form1.form-control(type='text', name="banco")
            label(for='form1') Banco
          select.mdb-select.md-form.mt-5.col-md-6.mx-auto(name="sucursal")
            option(value='', disabled='', selected='') Tipo de cuenta
            option(value='1') Coorporativa
            option(value='2') Personal
            option(value='3') Otras
          .md-form.col-md-6
            input#form1.form-control(type='text', name="n_cuenta")
            label(for='form1') Nro de Cuenta
      button.btn.btn-primary.col-md-6.mx-auto.d-block.mt-5  Enviar alta
block script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.full.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/es.js")
  script(type = "text/javascript").
    $('.js-example-basic-multiple').select2({
      width: 'resolve',
      maximumSelectionLength:1,
      dropdownAutoWidth: true,
      allowClear: false,
      multiple: true,
      maximumSelectionSize: 1,
      minimumInputLength:3,
      placeholder: "Comodoro Rivadavia 177",
      data: [
          { id: 1, text: "Comodoro Rivadavia 177", title:'Boulogne, Buenos Aires, Argentina'},
          { id: 2, text: "Comodoro Rivadavia 177", title:'Boulogne, Buenos Aires, Argentina'},
          { id: 3, text: "Comodoro Rivadavia 177", title:'Boulogne, Buenos Aires, Argentina'},
      ] ,  
      templateResult: formatOption,
    }).on('select2:open',function(){
      $('.select2-dropdown--below').parent('span').addClass('desplegable');
    });
    function formatOption (option) {
      var $option = $(
      '<div class="d-flex align-items-start border-bottom pb-3"> <embed src="img/brujula.svg" class="icono-brujular"> <div class="ml-3"><p class="mb-0 font17-px"> ' + option.text + '</p><small>' + option.title + '</small></div></div>'
      );
      return $option;
    };