extends layouts/_panel.pug
block content
  #panel-content: section
    .text-center
      h4 Reportes
    .row.justify-content-center.mt-5
      a.card.col-md-3.col-sm-12.mt-2.mt-md-0.mx-3(href=''): .my-auto.d-flex
        .body-card-text.d-xs-flex.align-items-center
          embed.img-card.mr-3.mr-md-0.mb-md-3(src='img/procentaje.svg', style='width: 45px', alt='')
          |Comisiones
        i.fas.fa-chevron-right.ml-auto.my-auto.d-inline-block.d-lg-none
      a.card.col-md-3.col-sm-12.mt-2.mt-md-0.mx-3(href=''): .my-auto.d-flex
        .body-card-text.d-xs-flex.align-items-center
          embed.img-card.mr-3.mr-md-0.mb-md-3(src='img/dolar.svg', alt='')
          |Liquidaciones
        i.fas.fa-chevron-right.ml-auto.my-auto.d-inline-block.d-lg-none
    