extends layouts/_panel.pug
block content
  #panel-content: section
    .text-center
      i.cm-check.font42-px.mb-2
        span.path1
        span.path2
      h4 Solicitudes activa
    .col-md-10.col-11.mx-auto
      .border-bottom.mt-5.mb-4.pb-3
        h6.text-primary INFORMACIÓN PERSONAL
      .row
        .col-md-4.col-12
          span.font12-px.text-black-50 Nombre y apellido
          p Miguel Gorostarzu
        .col-md-4.col-12
          span.font12-px.text-black-50 Cédula de ciudadanía
          p 1234567890
        .col-md-4.col-12
          span.font12-px.text-black-50 Nro de teléfono
          p +51 123 4567890
    .col-md-10.col-11.mx-auto
      .border-bottom.mt-5.mb-4.pb-3
        h6.text-primary INFORMACIÓN PRÉSTAMO
      .row
        .col-md-4.col-6
          span.font12-px.text-black-50 Monto total
          p $250.000
        .col-md-4.col-6
          span.font12-px.text-black-50 Adelanto
          p $50.000
        .col-md-4.col-12
          span.font12-px.text-black-50 Plan de pago
          p 6 cuotas de $15.000
    .col-md-10.col-11.mx-auto
      .border-bottom.mt-5.mb-4.pb-3
        h6.text-primary INFORMACIÓN EQUIPO
      .row
        .col-md-4.col-12
          span.font12-px.text-black-50 Equipo
          p Samsung Galaxy A80
        .col-md-4.col-12
          span.font12-px.text-black-50 IMEI
          p 12345678908975322
        .col-md-4.col-12
          span.font12-px.text-black-50 
          p 
block boton_hover
  include layouts/components/_botton-hover 