extends layouts/_panel.pug
block content
  #panel-content: section
    h4.text-center Solicitudes
    .col-md-10.col-12.mx-auto.px-md-0  
      select.mdb-select.md-form.input-sm.my-0.col-md-3.border-cm-0.mt-4.col-md-3.col-6
        option( selected='' disabled) Ordenar por
        option(value='0') Fecha
        option(value='1') ID vendendor
        option(value='2') Nombre cliente
        option(value='3') Estado
    .table-responsive-sm
      table.table.table-borderless.mx-auto.col-md-10.col-12.table-hover
        thead.border-top.border-bottom 
          tr
            th FECHA
            th ID
            th NOMBRE Y APELLIDO
            th
        tbody
          tr.text-muted(onclick='window.location.href = "prestamo-state.html"', style='cursor: pointer;')
            td(scope='row') 01/03/2020
            td José
            td Miguel Gorostarzu
            td.text-success.d-flex.align-items-center
              i.fas.fa-check-circle.font23-px
              span.ml-2 Activa
          tr.text-muted(onclick='window.location.href = "prestamo-state.html"', style='cursor: pointer;')
            td(scope='row') 01/03/2020
            td Roberto
            td Juan Martín Gonzalez
            td.text-warning.d-flex.align-items-center
              i.fas.fa-clock.font23-px
              span.ml-2 Pendiente
          tr.text-muted(onclick='window.location.href = "prestamo-state.html"', style='cursor: pointer;')
            td(scope='row') 01/03/2020
            td Pedro
            td María Eugenia Gutiérrez
            td.text-primary.d-flex.align-items-center
              i.fas.fa-times-circle.font23-px
              span.ml-2 Rechazada
          tr.text-muted(onclick='window.location.href = "prestamo-state.html"', style='cursor: pointer;')
            td(scope='row') 3 de 3
            td 01/05/2020
            td $20.000
            td.text-warning.d-flex.align-items-center
              i.fas.fa-clock.font23-px
              span.ml-2 Pendiente
block boton_hover
  include layouts/components/_botton-hover  
