extends layouts/_panel.pug
block content
  #panel-content
    section.my-5.container-md
      .text-center.mb-md-4
        h4 Tabla de cuotas
    //- Alternar estas secciones de acuerdo al dispositivo cliente ;-) Esto con blade quedaria perfecto
    //- Seccion desktop    
    section.mb-5.d-md-block.d-none
      .row.col-md-10.mx-auto.justify-content-center 
        .btn-group#select-btn
          input#option1.btn-check.btn-rounded(type='radio' name='options' autocomplete='off')
          label.btn.btn-outline-default.btn-rounded.px-5(for='option1') Frecuencia semanal 
          
          input#option2.btn-check(type='radio' name='options' autocomplete='off' checked='')
          label.btn.btn-outline-default.px-5.mx-5(for='option2') Frecuencia quincenal
          
          input#option3.btn-check(type='radio' name='options' autocomplete='off')
          label.btn.btn-outline-default.px-5(for='option3') Frecuencia mensual 

      .table-responsive-sm
        table.table.table-borderless.mx-auto.col-md-10.col-12.table-hover
          thead.border-bottom.text-muted 
            tr
              th  EQUIPO Y PRECIO
              th  INICIAL 
              th  6 COUTAS 
              th  INICIAL
              th  3 CUOTAS 
              th
          tbody.border-bottom
            tr
              td  Samsung A01 Core $380.000
              td.border-left  $114.000
              td  $83.994
              td.border-left  $133.000
              td  $132.196
              td.border-left 
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit.svg", alt="" data-init="img/icono-table-edit.svg" data-change="img/icono-table-edit-hover.svg").table-icon
                a(href="#").show-modal-table-delete  
                  img(src="img/icono-table-delete.svg", alt="" data-init="img/icono-table-delete.svg" data-change="img/icono-table-delete-hover.svg").ml-2.table-icon 
            tr
              td  Samsung A01 $520.000
              td.border-left  $114.000
              td  $83.994
              td.border-left  $133.000
              td  $132.196
              td.border-left
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit.svg", alt="" data-init="img/icono-table-edit.svg" data-change="img/icono-table-edit-hover.svg").table-icon
                a(href="#").show-modal-table-delete  
                  img(src="img/icono-table-delete.svg", alt="" data-init="img/icono-table-delete.svg" data-change="img/icono-table-delete-hover.svg").ml-2.table-icon 
            tr
              td  Samsung A01 $520.000
              td.border-left  $114.000
              td  $83.994
              td.border-left  $133.000
              td  $132.196
              td.border-left
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit.svg", alt="" data-init="img/icono-table-edit.svg" data-change="img/icono-table-edit-hover.svg").table-icon
                a(href="#").show-modal-table-delete  
                  img(src="img/icono-table-delete.svg", alt="" data-init="img/icono-table-delete.svg" data-change="img/icono-table-delete-hover.svg").ml-2.table-icon
            tr
              td  Samsung A01 $520.000
              td.border-left  $114.000
              td  $83.994
              td.border-left  $133.000
              td  $132.196
              td.border-left
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit.svg", alt="" data-init="img/icono-table-edit.svg" data-change="img/icono-table-edit-hover.svg").table-icon
                a(href="#").show-modal-table-delete  
                  img(src="img/icono-table-delete.svg", alt="" data-init="img/icono-table-delete.svg" data-change="img/icono-table-delete-hover.svg").ml-2.table-icon 
           
    //- Seccion Movil
    section.mb-5.d-md-none.d-block
      select.mdb-select.md-form.mt-5.col-6(name="sucursal")
        option(value='1') Semanal
        option(value='2') Quincenal
        option(value='3') Mensual
      #accordionEx.md-accordion.accordion(role='tablist' aria-multiselectable='true')
        .card.border-top
          #acordion-1.card-header(role='tab')
            a(data-toggle='collapse' data-parent='#accordionEx' href='#collapse-acordion-1' aria-expanded='true' aria-controls='collapse-acordion-1')
              h5.mb-0
                | Samsung A01 Core
                i.fas.fa-angle-down.rotate-icon
          #collapse-acordion-1.collapse(role='tabpanel' aria-labelledby='acordion-1')
            .card-body
              span Precio  
                span.font-weight-bold $380.000
              table(style="width:100%;").mt-3
                tr
                  th  6 cuotas
                  th  
                  th  3 cuotas
                  th  
                tr  
                  th  Inicial
                  td.font-weight-bold  $114.000
                  th  Inicial
                  td.font-weight-bold  $114.000
                tr  
                  th  Cuota
                  td.font-weight-bold  $83.994
                  th  Cuota
                  td.font-weight-bold  $83.994
              .mt-3
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit-m.svg", alt="" data-init="img/icono-table-edit-m.svg" data-change="img/icono-table-edit-m-hover.svg").table-icon
                a(href="#").show-modal-table-delete
                  img(src="img/icono-table-delete-m.svg", alt="" data-init="img/icono-table-delete-m.svg" data-change="img/icono-table-delete-m-hover.svg").ml-2.table-icon
        .card
          #acordion-2.card-header(role='tab')
            a(data-toggle='collapse' data-parent='#accordionEx' href='#collapse-acordion-2' aria-expanded='true' aria-controls='collapse-acordion-2')
              h5.mb-0
                | Samsung A01 Core
                i.fas.fa-angle-down.rotate-icon
          #collapse-acordion-2.collapse(role='tabpanel' aria-labelledby='acordion-2')
            .card-body
              span Precio  
                span.font-weight-bold $380.000
              table(style="width:100%;").mt-3
                tr
                  th  6 cuotas
                  th
                  th  3 cuotas
                  th
                tr
                  th  Inicial
                  td.font-weight-bold  $114.000
                  th  Inicial
                  td.font-weight-bold  $114.000
                tr
                  th  Cuota
                  td.font-weight-bold  $83.994
                  th  Cuota
                  td.font-weight-bold  $83.994
              .mt-3
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit-m.svg", alt="" data-init="img/icono-table-edit-m.svg" data-change="img/icono-table-edit-m-hover.svg").table-icon
                a(href="#").show-modal-table-delete
                  img(src="img/icono-table-delete-m.svg", alt="" data-init="img/icono-table-delete-m.svg" data-change="img/icono-table-delete-m-hover.svg").ml-2.table-icon
        .card
          #acordion-3.card-header(role='tab')
            a(data-toggle='collapse' data-parent='#accordionEx' href='#collapse-acordion-3' aria-expanded='true' aria-controls='collapse-acordion-3')
              h5.mb-0
                | Samsung A01 Core
                i.fas.fa-angle-down.rotate-icon
          #collapse-acordion-3.collapse(role='tabpanel' aria-labelledby='acordion-3')
            .card-body
              span Precio  
                span.font-weight-bold $380.000
              table(style="width:100%;").mt-3
                tr
                  th  6 cuotas
                  th
                  th  3 cuotas
                  th
                tr
                  th  Inicial
                  td.font-weight-bold  $114.000
                  th  Inicial
                  td.font-weight-bold  $114.000
                tr
                  th  Cuota
                  td.font-weight-bold  $83.994
                  th  Cuota
                  td.font-weight-bold  $83.994
              .mt-3
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit-m.svg", alt="" data-init="img/icono-table-edit-m.svg" data-change="img/icono-table-edit-m-hover.svg").table-icon
                a(href="#").show-modal-table-delete
                  img(src="img/icono-table-delete-m.svg", alt="" data-init="img/icono-table-delete-m.svg" data-change="img/icono-table-delete-m-hover.svg").ml-2.table-icon
        .card
          #acordion-4.card-header(role='tab')
            a(data-toggle='collapse' data-parent='#accordionEx' href='#collapse-acordion-4' aria-expanded='true' aria-controls='collapse-acordion-4')
              h5.mb-0
                | Samsung A01 Core
                i.fas.fa-angle-down.rotate-icon
          #collapse-acordion-4.collapse(role='tabpanel' aria-labelledby='acordion-4')
            .card-body
              span Precio  
                span.font-weight-bold $380.000
              table(style="width:100%;").mt-3
                tr
                  th  6 cuotas
                  th
                  th  3 cuotas
                  th
                tr
                  th  Inicial
                  td.font-weight-bold  $114.000
                  th  Inicial
                  td.font-weight-bold  $114.000
                tr
                  th  Cuota
                  td.font-weight-bold  $83.994
                  th  Cuota
                  td.font-weight-bold  $83.994
              .mt-3
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit-m.svg", alt="" data-init="img/icono-table-edit-m.svg" data-change="img/icono-table-edit-m-hover.svg").table-icon
                a(href="#").show-modal-table-delete
                  img(src="img/icono-table-delete-m.svg", alt="" data-init="img/icono-table-delete-m.svg" data-change="img/icono-table-delete-m-hover.svg").ml-2.table-icon
        .card
          #acordion-5.card-header(role='tab')
            a(data-toggle='collapse' data-parent='#accordionEx' href='#collapse-acordion-5' aria-expanded='true' aria-controls='collapse-acordion-5')
              h5.mb-0
                | Samsung A01 Core
                i.fas.fa-angle-down.rotate-icon
          #collapse-acordion-5.collapse(role='tabpanel' aria-labelledby='acordion-5')
            .card-body
              span Precio  
                span.font-weight-bold $380.000
              table(style="width:100%;").mt-3
                tr
                  th  6 cuotas
                  th
                  th  3 cuotas
                  th
                tr
                  th  Inicial
                  td.font-weight-bold  $114.000
                  th  Inicial
                  td.font-weight-bold  $114.000
                tr
                  th  Cuota
                  td.font-weight-bold  $83.994
                  th  Cuota
                  td.font-weight-bold  $83.994
              .mt-3
                a(href="#").show-modal-table-edit
                  img(src="img/icono-table-edit-m.svg", alt="" data-init="img/icono-table-edit-m.svg" data-change="img/icono-table-edit-m-hover.svg").table-icon
                a(href="#").show-modal-table-delete
                  img(src="img/icono-table-delete-m.svg", alt="" data-init="img/icono-table-delete-m.svg" data-change="img/icono-table-delete-m-hover.svg").ml-2.table-icon
                                                                                                                        
    section
      .col-md-10.col-11.mx-auto.mt-5.justify-content-md-end.justify-content-start.d-flex
        a.botton-cm.mr-md-auto(href="#").show-modal-table
          i.fal.fa-plus
        a.align-items-center.d-flex(href="#")
          i.cm-flecha-abajo-rojo.mr-3
          p.text-primary.mb-0  Descargar PDF
block modal
  //- Agregar equipo modal
  #centralTable.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-md(role='document')
      .modal-content
        .modal-header.border-bottom-0
          h4#myModalLabel.modal-title.w-100
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span.text-muted(aria-hidden='true') ×
        .modal-body.px-5.text-muted
          .border-bottom.pb-3
            h3.text-primary.mb-0  Agregar equipo
          div.mt-3
            select.mdb-select.md-form.mt-5.col-12(name="sucursal")
              option(value='' selected="select") Seleccione el equipo
              option(value='1') Equipo 1
              option(value='2') Equipo 2
              option(value='3') Equipo 3
          .md-form.my-5.col-12.mx-auto
            input#form1.form-control(type='text', name="valor")
            label(for='form1') Ingrese el valor del equipo
          button.btn.btn-primary.col-12.mx-auto.d-block Agregar
  //- Editar equipo modal
  #centralTable2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel2', aria-hidden='true')
    .modal-dialog.modal-md(role='document')
      .modal-content
        .modal-header.border-bottom-0
          h4#myModalLabel2.modal-title.w-100
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span.text-muted(aria-hidden='true') ×
        .modal-body.px-5.text-muted
          .border-bottom.pb-3
            h3.text-primary.mb-0  Editar equipo
          div.mt-3
            select.mdb-select.md-form.mt-5.col-12(name="sucursal")
              option(value='' selected="select") Seleccione el equipo
              option(value='1') Equipo 1
              option(value='2') Equipo 2
              option(value='3') Equipo 3
          .md-form.my-5.col-12.mx-auto
            input#form2.form-control(type='text', name="valor")
            label(for='form1') Ingrese el valor del equipo
          button.btn.btn-primary.col-12.mx-auto.d-block Guardar cambios
  //- Eliminar equipo modal
  #centralTable3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel3', aria-hidden='true')
    .modal-dialog.modal-md(role='document')
      .modal-content
        .modal-header.border-bottom-0
          h4#myModalLabel3.modal-title.w-100
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span.text-muted(aria-hidden='true') ×
        .modal-body.px-md-5.px-3.text-muted
          .pb-3
            h3.text-primary.mb-0.text-center  ¿Seguro deseas eliminar el equipo de la tabla de cuotas?
          div.mt-3.d-flex.justify-content-center
            button.btn.btn-primary.col-md-5.d-block Si, eliminar
            button.btn.btn-outline-primary.col-md-5.d-block Por ahora no
block script
  script.
    $('.show-modal-table').on('click',function (){
      $('#centralTable').modal('show');
    });
    $('.show-modal-table-edit').on('click', function () {
      $('#centralTable2').modal('show');
    });
    $('.show-modal-table-delete').on('click', function () {
      $('#centralTable3').modal('show');
    });
    