style.
  *{
    font-family: sans-serif;
    font-weight: 100;
    color: #737277;
  }
  #content{
    padding: 0 3rem;
  }
  table{
    width: 100%;
    margin-top: 45px;
    border-collapse: collapse;
  }
  .logo{
    width: 100%;
  }
  .d-flex{
    display: flex;
  }
  .ml-auto{
    margin-left: auto;
  }
  .text-center{
    text-align: center;
  }
  .header-red{
    background-color: red;
  }
  .header-red td{
    color: white;
    padding: 15px 0;
  } 
  table th, td {
    text-align: left;
    padding: 15px 15px;
  }
  .border-bottom{
    border-bottom: 1px solid #dfdfdf;
  }
  .border-left{
    border-left: 1px solid #dfdfdf;
  }
#content  
  div.d-flex
    div
      img(src="img/logo.svg").logo
    div.ml-auto
       h1 Tabla de cuotas
  table
    tr.header-red
      td(colspan="6").text-center  Frecuencia semanal
    tr.border-bottom
      th(colspan="2")  EQUIPO Y PRECIO
      th  INICIAL 
      th  6 COUTAS 
      th  INICIAL
      th  3 CUOTAS 
    tr 
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr.border-bottom
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
  table 
    tr.header-red
      td(colspan="6").text-center  Frecuencia quincenal
    tr.border-bottom
      th(colspan="2")  EQUIPO Y PRECIO
      th  INICIAL 
      th  6 COUTAS 
      th  INICIAL
      th  3 CUOTAS 
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr.border-bottom
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
  table
    tr.header-red
      td(colspan="6").text-center  Frecuencia mensual
    tr.border-bottom
      th(colspan="2")  EQUIPO Y PRECIO
      th  INICIAL 
      th  6 COUTAS 
      th  INICIAL
      th  3 CUOTAS 
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
    tr.border-bottom
      td Samsung A01 Core 
      td $380.000
      td.border-left $114.000
      td $83.994
      td.border-left $133.000
      td $132.196
      
      