extends layouts/_panel.pug
block content
  #panel-content: section
    h4.text-center Perfil de usuarios
    .col-md-10.col-12.mx-auto.px-md-0  
      select.mdb-select.md-form.input-sm.my-0.col-md-3.border-cm-0.mt-4.col-md-3.col-6
        option( selected='' disabled) Ordenar por
        option(value='0') Nombre
        option(value='1') Sucursal
        option(value='2') Tipo
    .table-responsive-sm
      table.table.table-borderless.mx-auto.col-md-10.col-12
        thead.border-top.border-bottom.text-muted 
          tr
            th  NOMBRE Y APELLIDO
            th  SUCURSAL
            th  TIPO 
        tbody
          tr
            td  Miguel Gorostarzu
            td  #001
            td  Jefe
          tr
            td  Juan Martín Gonzalez
            td  #001
            td  Vendedor
          tr
            td  María Eugenia Gutiérrez
            td  #002
            td  Vendedor         
block boton_hover
  include layouts/components/_botton-hover 