/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css2?family=Montserrat:100,200,300,400,500,600,700";


::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #d8143b;
  border-top-left-radius: 20px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #d0cfcf;
}
.card-list {
    display: flex;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    color: #727176;
    font-weight: 200;
    overflow-x: hidden;
}
.flecha-atras{
    right: 191px;
    position: relative;
}
.alert {
    border-radius: 0.5rem;
}
.border-cm-0 input {
  border-bottom: none !important;
  text-indent: 25px !important;
}
.border-cm-0 span.caret {
  left: 15px !important;
}
.border-cm-0 :not(.md-outline) .select-dropdown:focus {
  box-shadow: none !important;
} 
.img-card {
  width: 35px;
  height: 35px;
}
.body-card-text {
    display: grid;
    font-size: 17px;
    line-height: 20px;
}
.active .nav-link i::before{
  color: #C22645 !important;
} 
p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    color: #727176;
    font-weight: 200;
}
h5, .h5 {
    font-weight: 200;
}
.logo-40 {
    width: 29px;
}
.logo {
  width: 186;
}
#login-fondo{
  background-image: url('../img/login-fondo.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding-top: 3vh;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.card {
    border-radius: 0.85rem;
    font-weight: 400;
    border: 1px solid #f7f7f8;
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 0px 0px 0px 0 rgba(0, 0, 0, 0);
    width: 185px;
    height: 145px;
    padding: 20px;
}
.card:hover {
    border: 1px solid #d41d3f;
}
.md-accordion .card {
  width: 100%;
  height: auto;
  border-top: none;
  border-left: none;
  border-right: none;
}
.md-accordion .card:hover{
  border-top: none;
  border-left: none;
  border-right: none;
}
.md-accordion .card .card-header {
  padding: 0.75rem 1.25rem !important;
}
#select-btn input:checked + label{
  background-color: #d41d3f !important;
  border-color: #d41d3f !important;
  color: white !important;
}
#select-btn label:hover{
  border-color: #d41d3f !important;
  color: #d41d3f !important;
}
.gris-suave{
    color: #dedede;
}
.logo-banco {
    width: 134px;
}
.gris-fuerte{
   color: #c2c3c9;
}
.btn-actualizar{
    color: #3f4e9a !important;
}
.navbar {
    padding: 15px 10px;
    background: #fff;
    border-radius: 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #c2c3cd;
    
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    /* perspective: 1500px; */
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #F7F7F8;
    color: #727176;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}
select[disabled]{
    background-image: none;
    cursor: no-drop;
}
button[disabled]{
    cursor: no-drop;
}
.card-crediminutos[disabled]{
    color: #dedede;
    cursor: no-drop;
    pointer-events: none;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 30px;
    background: #f7f7f8;
}
#sidebar ul li a:hover i::before {
  color: #C22645 !important; 
}
#sidebar ul li a:hover i span::before {
  color: #C22645 !important; 
}
#sidebar ul li a:hover .cm-agregar-carro .path3::before {
  color: #ffffff !important; 
}
#sidebar ul.components {
    padding: 20px 0px 20px 20px;
}
.footer {
    position: fixed;
    bottom: 0px;
    height: 61px;
    width: 100%;
    z-index: 9999;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}

.nav-item{
    list-style: none;
    color: #c2c3cb;
}
.nav-link i {
    margin-right: 20px;
}
.font12-px {
  font-size: 12px;
}
.font40-px {
    font-size: 34px;
}
.font42-px {
  font-size: 42px;
}
.font50-px{
  font-size: 50px;
}
.font60-px{
    font-size: 60px;
}
.font23-px {
    font-size: 23px;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #727176;
}
#sidebar ul li a:hover {
    color: #C22645;
    border-right: 13px solid #C22645;
}
.botton-cm-hover {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #c22645;
  color: #fff;
  z-index: 1;
  border-radius: 100%;
  bottom: 23px;
  right: 60px;
  font-size: 35px;
  padding: 0px 11.5px;
}
.botton-cm {
  position: relative;
  width: 50px;
  height: 50px;
  background: #c22645;
  color: #fff;
  border-radius: 100%;
  font-size: 35px;
  padding: 0px 11.5px;
}
.botton-cm:hover{
  color: #fff !important;
}
.botton-cm-hover:hover{
  color: #fff !important;
}
.isologo{
    width: 30px;
}
i {
    line-height: 1.6 !important;
}
#sidebar ul li.active > a, #sidebar ul li.active > a[aria-expanded="true"] {
    color: #C22645;
    border-right: 13px solid #C22645;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: none;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}
.fontcolor-name {
    color: #242424;
    font-size: 15px;
    font-weight: 500;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
h1{
    font-size: 54px;
    font-weight: 200;
}
a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
.close {
    font-weight: 100;
    opacity: 1;
}
.fondo-content {
    width: 100%;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 0px 0px 100% 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.72) 0%, rgb(242, 242, 242) 100%);
    z-index: -1;
    padding-bottom: 55px;
}
.md-form label, .md-form label.active {
    font-size: 14px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 0px 40px 20px 40px;
    min-height: 100vh;
    transition: all 0.3s;
}

.select2-container .select2-search--inline .select2-search__field {
  width: 100% !important;
  border: none;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #ced4da;
  border-radius: 0 30px 30px 0;
  height: 4.1vw;
  margin-top: 0;
  outline: none;
  position: absolute;
}
span.select2 {
  width: 100% !important;
}
.input-group-prepend{
  right: 8px;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 20.506944vw !important;
  height: 45px;
  border: none;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  outline: 0;
  height: 45px;
  border: none !important;
}
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: none !important;
  border-radius: 4px;
  cursor: text;
  height: 45px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
  display: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: transparent;
  border: none;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 10px;
  padding: 0 5px;
}
.select2-container--open .select2-dropdown--below {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100% !important;
  position: relative;
  border-radius: 10px !important;
  border-top: 1px solid #ced4da;
  padding: 10px !important;
  margin-top: 13px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #ffffff;
  color: #666;
}


.cm-label-center label {
  width: 90%;
}
.cm-label-center label.active {
  transform: translateY(-14px) translateX(52px) scale(.8) !important;
}
#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #ffffff;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

.caritas{
    width: 55px;
}
strong{
    font-weight: bold;
}
.mt-120{
    margin-top: 120px !important;
}
.section-logo-bancos{
    margin-top: -40px;
}
.table-delete-margen th, .table-delete-margen td {
    padding-top: 0px;
    padding-bottom: 7px;
}

table.table-hover tbody tr:hover img {
  filter: brightness(50%);
}

.table-icon:hover{
  filter: brightness(100%) !important;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebarNoti li {
    list-style: none;
}
#sidebarNoti li small {
    font-size: 7px;
}
#sidebarNoti {
    width: 310px;
    position: fixed;
    top: 0;
    right: -510px;
    height: 100%;
    z-index: 999;
    background: #f7f7f8;
    color: #fff;
    transition: all 0.6s;
    overflow-y: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
#sidebarNoti.active {
    right:0;
    margin-right: 0px;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}


#sidebarNoti .sidebar-header {
    padding: 8px;
    background: #f7f7f8;
    border-bottom: 1px solid #c2c3cb;
}

#sidebarNoti ul.components {
    padding: 20px;
    border-bottom: 1px solid #c2c3cb;
}


#sidebarNoti ul p {
    color: #fff;
    padding: 10px;
}

#sidebarNoti ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#montoInput{
    display: none;
}
#inputContenedor{
    display: none;
}
.input-monto{
    font-size: 54px;
    font-weight: 200;
}
li.nav-item.ml-2.mr-5 {
    color: #191717;
    font-weight: 600;
}
.bg-light {
    background-color: #f8f9fa !important;
}
#sidebarNoti span.badge.red {
    right: 33px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    .botton-cm {
      position: fixed;
      width: 50px;
      height: 50px;
      background: #c22645;
      color: #fff;
      z-index: 1;
      border-radius: 100%;
      bottom: 23px;
      right: 60px;
      font-size: 35px;
      padding: 0px 11.5px;
    }
    .input-group-prepend {
      right: 0px;
    }
    #sidebar ul li.active > a, #sidebar ul li.active > a[aria-expanded="true"] {
        color: #c22645;
        border-right: 0px solid #c2264500;
    }
    .select2-container .select2-search--inline .select2-search__field {
        width: 100% !important;
        border: none;
        border-top: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-color: #ced4da;
        border-radius: 0 30px 30px 0;
        height: 11.90625vw;
        margin-top: 0;
        outline: none;
        position: absolute;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        box-sizing: border-box;
        list-style: none;
        margin: 0;
        padding: 8px 5px;
        width: 100%;
    }

    .modal-md{
      margin: 0 !important;
      position: absolute !important;
      bottom: 0 !important;
      width: 100% !important;
    }
    
    .botton-cm-hover{
      position: fixed;
      width: 70px;
      height: 70px;
      background: #c22645;
      color: #fff;
      z-index: 1;
      border-radius: 100%;
      bottom: 23px;
      right: 12px;
      font-size: 50px;
      padding: 0px 14px;
    }

    #sidebarNoti svg.svg-inline--fa.fa-bell.fa-w-14.font40-px {
        right: 23px;
        position: absolute;
    }
    #sidebarNoti span.badge.red {
        right: 16px;
    }
    
    #sidebarNoti {
        width: 100%;
    }
    .input-monto{
        font-size: 35px;
    }
    .card{
        width: 100%;
        height: 76px;
    }
    .card-crediminutos[disabled]{
        display: none;
    }
    .flecha-atras {
        right: 45px;
        position: relative;
    }
    .d-xs-flex{
        display: flex;
    }
    .section-logo-bancos {
        margin-top: 30px;
    }
    .logo-banco {
        width: 155px;
    }
    .img-perfil{
        width: 100px;
    }
    .fondo-content {
        border-radius: 24% 24% 80% 80% / 88% 88% 24% 24%;
        padding-bottom: 30px;
    }

    h1 {
        font-size: 35px;
    }
    small{
        font-size: 70%;
    }
    #content {
        width: 100%;
        padding: 0px 0px 20px 0px;
        min-height: 100vh;
        transition: all 0.3s;
    }  
    #sidebar ul li a i {
        display: none;
    }
    #sidebar ul li a {
        padding: 10px;
        font-size: 20px;
        display: block;
        color: #727176;
    }
    #sidebar {
        margin-left: -663px;
        transform: initial;
        margin-top: 71px;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 9;
        min-width: 100%;
        max-width: 100%;
        background: #ffffff;
        transition: all 0.6s;
    }
    #sidebarNoti .sidebar-header {
        padding: 8px;
        background: #f7f7f8;
        border-bottom: 1px solid #c2c3cb;
        display: none;
    }
    
    #sidebarNoti {
        width: 100%;
        position: fixed;
        top: 72px;
        right: -663px;
        height: 100%;
        z-index: 9999999;
        background: #ffffff;
        color: #fff;
        transition: all 0.6s;
        overflow-y: auto;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    }
    .scrollOculto{
        overflow: hidden;
    }
    .overlay.active {
        display: none;
        opacity: 1;
    }
    #sidebar ul li a:hover {
        color: #C22645;
        border-right: 0px solid #c2264500;
    }
    .sidebarNoti div:nth-child(1){
        display: none;
    }

    .ul-a-decoration{
        text-decoration: underline;
        font-size: 17px !important;
    }
    .overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        z-index: 998;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
    #sidebar .sidebar-header {
        padding: 20px;
        background: #f7f7f8;
        display: none;
    }
    #sidebar.active {
      margin-left: 0;
      transform: none;
      margin-top: 72px;
      height: 90vh;
      overflow-y: scroll;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}
