<!DOCTYPE html>
html(lang="es")
  include components/_head_1
  body#body
    div.wrapper
      include components/_sidebar_menu
      div(id="content" class="mb-5 mb-md-0")
        include components/_nav_bar
        block content
      div(class="overlay")
    include components/_sidebar_notificaciones
    block boton_hover
    block modal
    //-include components/_footer
    include components/_script
    block script