@font-face {
  font-family: 'cm-smartPhone';
  src:  url('fonts/cm-smartPhone.eot?x6vur2');
  src:  url('fonts/cm-smartPhone.eot?x6vur2#iefix') format('embedded-opentype'),
    url('fonts/cm-smartPhone.ttf?x6vur2') format('truetype'),
    url('fonts/cm-smartPhone.woff?x6vur2') format('woff'),
    url('fonts/cm-smartPhone.svg?x6vur2#cm-smartPhone') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cm-smartPhone' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cm-tiempo:before {
  content: "\e900";
  color: #eab530;
}
.cm-agregar-carro .path1:before {
  content: "\e901";
  color: rgb(114, 113, 118);
}
.cm-agregar-carro .path2:before {
  content: "\e902";
  margin-left: -1.2431640625em;
  color: rgb(255, 255, 255);
}
.cm-agregar-carro .path3:before {
  content: "\e903";
  margin-left: -1.2431640625em;
  color: rgb(114, 113, 118);
}
.cm-agregar-carro-rojo .path1:before {
  content: "\e904";
  color: rgb(114, 113, 118);
}
.cm-agregar-carro-rojo .path2:before {
  content: "\e905";
  margin-left: -1.2431640625em;
  color: rgb(114, 113, 118);
}
.cm-agregar-carro-rojo .path3:before {
  content: "\e906";
  margin-left: -1.2431640625em;
  color: rgb(255, 255, 255);
}
.cm-agregar-carro-rojo .path4:before {
  content: "\e907";
  margin-left: -1.2431640625em;
  color: rgb(194, 38, 69);
}
.cm-agregar-rojo-1:before {
  content: "\e908";
  color: #c22645;
}
.cm-agregar-usuario:before {
  content: "\e909";
  color: #727176;
}
.cm-agregar-usuario-rojo .path1:before {
  content: "\e90a";
  color: rgb(114, 113, 118);
}
.cm-agregar-usuario-rojo .path2:before {
  content: "\e90b";
  margin-left: -0.970703125em;
  color: rgb(194, 38, 69);
}
.cm-campana:before {
  content: "\e90c";
  color: #d8d9dd;
}
.cm-campana-roja .path1:before {
  content: "\e90d";
  color: rgb(216, 217, 221);
}
.cm-campana-roja .path2:before {
  content: "\e90e";
  margin-left: -0.990234375em;
  color: rgb(216, 217, 221);
}
.cm-campana-roja .path3:before {
  content: "\e90f";
  margin-left: -0.990234375em;
  color: rgb(207, 71, 51);
}
.cm-casa:before {
  content: "\e910";
  color: #727176;
}
.cm-check .path1:before {
  content: "\e911";
  color: rgb(21, 234, 132);
}
.cm-check .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cm-dolar .path1:before {
  content: "\e913";
  color: rgb(193, 38, 69);
}
.cm-dolar .path2:before {
  content: "\e914";
  margin-left: -0.955078125em;
  color: rgb(114, 113, 118);
}
.cm-empresa:before {
  content: "\e915";
  color: #727176;
}
.cm-error .path1:before {
  content: "\e916";
  color: rgb(190, 8, 17);
}
.cm-error .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cm-flecha-abajo-rojo:before {
  content: "\e918";
  color: #c22645;
}
.cm-procentaje .path1:before {
  content: "\e919";
  color: rgb(193, 38, 69);
}
.cm-procentaje .path2:before {
  content: "\e91a";
  margin-left: -0.9697265625em;
  color: rgb(114, 113, 118);
}
.cm-reporte-rojo .path1:before {
  content: "\e91b";
  color: rgb(193, 38, 69);
}
.cm-reporte-rojo .path2:before {
  content: "\e91c";
  margin-left: -0.697265625em;
  color: rgb(114, 113, 118);
}
.cm-reportes:before {
  content: "\e91d";
  color: #727176;
}
