// Your custom styles
.input-simple label.active {
  transform: translateY(-14px) translateX(10px) scale(0.8) !important;
}
.input-simple label {
  transform: translateY(12px) translateX(10px);
  transform-origin: 0% 100%;
}
.select-wrapper.active span.caret, .select-wrapper.active label.mdb-main-label{
  color: #C22645 !important;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
  height: 4px;
}
.link-table img{
  filter: grayscale(1);
  opacity: .5;
}
.link-table:hover img{
  filter: none;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .border-bottom-m {
    border-bottom: 0.01px solid #80808036;
  }
  .mt-movil-modal-header{
    margin-top: -26px;
  }
}