//- Footer INIT
footer.footer.bg-light.d-inline-block.d-lg-none
  .row
    a.col.text-center.text-primary(style='display: grid')
      i.cm-casa.font23-px
      small Inicio
    a.col.text-center(style='display: grid')
      i.cm-empresa.font20-px
      small Tienda
    a.col.text-center(style='display: grid')
      i.cm-agregar-usuario.font23-px
      small Usuario
    a.col.text-center(style='display: grid')
      i.cm-reportes.font23-px
      small Reportes
//- Footer END