
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="description" content="Esta es el panel de credimutos smartPhone")
  meta(name="author" content="Crediminuto SmartPhone")
  //- Page Title
  title DashBoard Crediminuto SmartPhone
  link(rel="canonical", href="https://getbootstrap.com/docs/4.4/examples/dashboard/")
  //- Bootstrap 4
  link(rel="stylesheet", href="css/bootstrap.css")
  //- Select 2
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css")
  link(rel="stylesheet", href="css/select2-bootstrap.css")
  //- MDB Bootstrap 4
  link(rel="stylesheet", href="css/mdb.css")
  //- Estilos 
  link(rel="stylesheet", href="css/style.css")
  //- Font Awesome JS
  script(src="fontawesome/js/all.js")
  //- CM-SmartPhone Icons
  link(rel="stylesheet", href="fonts-icons/css/crediminutos.css")
  link(rel="stylesheet", href="fonts-icons/cm-smartphone.css")
  


