//- Barra siperior INIT
nav.navbar.navbar-light
  button#sidebarCollapse.navbar-btn(type='button')
    span
    span
    span
  .d-inline-block.d-lg-none.ml-auto
    img.isologo(src='img/isologo.svg', alt='')
  ul.nav.ml-auto
    li.nav-item.dropdown.mr-5.d-none.d-sm-none.d-md-block
      a.nav-link.dropdown-toggle.fontcolor-name.sidebarCollapseNoti(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        i.fas.fa-chevron-down.my-auto.mr-2
        | Miguel Gorostarzu
    li.nav-item
      a.sidebarCollapseNoti(href='')
        i.fas.fa-bell.font40-px
        span.badge.red(style='top: 15px; right: 7px; position: absolute;') 3
//- Barra siperior END
