//- jQuery
script(type='text/javascript', src='js/jquery.js')
//- Bootstrap tooltips
script(type='text/javascript', src='js/popper.js')
//- Bootstrap core JavaScript
script(type='text/javascript', src='js/bootstrap.js')
//- MDB core JavaScript
script(type='text/javascript', src='js/mdb.js')
//- action Menu
script(src='js/action-menu.js')
//- Jquery Validate
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js")
//- Script
script(src="js/script.js")
script(type = "text/javascript").
  $(document).ready(function () {
    $(".mdb-select").materialSelect();
  });
