//- Sidebar Izquierda INIT
nav#sidebar
    .sidebar-header 
        img(src='img/logo.svg', alt='')
    .d-block.d-md-none.border-bottom.py-3
        .d-flex
            img.rounded-circle.ml-4(src='https://ui-avatars.com/api/?name=Miguel+Gorostarzu&rounded=true&background=a0a0a0&color=ffffff', alt='')
        .my-auto.ml-3
            p.mb-0 Miguel Gorostarzu
            a(href='#', style='text-decoration: underline;') Cerrar sesion
    ul.components
        li.nav-item.active
            | 
            a.nav-link(href='home.html')
                i.cm-casa.font23-px
                |Inicio 
                span.sr-only (current)
        li.nav-item
            | 
            a.nav-link(href='my-shop.html')
                i.cm-empresa.font20-px
                |Perfil de la tienda
        li.nav-item
            | 
            a.nav-link(href='user-self.html')
                i.cm-agregar-usuario.font23-px
                |Pefil de usuario
        li.nav-item
            a.nav-link(href='requests.html')
                i.cm-agregar-carro.font23-px
                  span.path1
                  span.path2
                  span.path3
                |Solicitudes
        li.nav-item
            a.nav-link(href='reports.html')
                i.cm-reportes.font23-px
                |Reportes
    ul.border-top.list-group.d-block.d-md-none.pt-3
        li
            a.py-0.ml-3.ul-a-decoration(href='') Contacto
        li
            a.py-0.ml-3.ul-a-decoration(href='') Preguntas Frecuentes
        li
            a.py-0.ml-3.ul-a-decoration(href='') Blog
    .d-flex.d-md-none.row.mx-3.my-5.gris-suave(style='font-size: 27px;')
        i.fab.fa-facebook-f.col
        i.fab.fa-instagram.col
        i.fab.fa-youtube.col
        i.fab.fa-twitter.col
        i.fab.fa-linkedin-in.col
        
//- Sidebar Izquierda END
