//- Sidebar Derecha INIT
nav#sidebarNoti
  .sidebar-header
    ul.nav.ml-auto
      li.nav-item.ml-2.mr-5
        a#cerrar.mt-2(href='')
          i.fal.fa-times.my-auto.mr-2
          |Miguel Gorostarzu
      li.nav-item
        a#cerrar(href='')
          i.fas.fa-bell.font40-px
          span.badge.red(style='    margin-top: -1px;margin-left: -9px; position: absolute;') 3
  .d-none.d-md-block(style='border-bottom: 1px solid #c0c1c9;')
    .mt-4
      img.rounded-circle.ml-4(src="https://ui-avatars.com/api/?name=Miguel+Gorostarzu%26rounded=true%26background=a0a0a0%26color=ffffff" , alt='')
      //- Revisar documentacion de la API https://ui-avatars.com/
      ul.text-dark.mt-3
        li
          a.p-0(href='#')
            small
              i.far.fa-chevron-right.mr-2
            |Mi Perfil
        li
          a.p-0(href='#')
            small
              i.far.fa-chevron-right.mr-2
            |Cerrar sesión
        li
          a.p-0(href='#')
            small
              i.far.fa-chevron-right.mr-2
            |Contacto
        li
          a.p-0(href='#')
            small
              i.far.fa-chevron-right.mr-2
            |Preguntas frecuentes
        li
          a.p-0(href='#')
            small
              i.far.fa-chevron-right.mr-2
            |Blog
  div
    .alert.text-dark.alert-dismissible.fade.show.mx-auto.col-md-12.col-11.py-2.border-bottom.mb-0(role='alert')
      .d-flex
        img.mr-3(src='img/check-verde-calendar.svg', alt='', style='width: 25px;margin-top: -45px;')
        div
          h5.my-auto.text-success(style='font-size: 15px;') Próximo vencimiento
          small
            | Estás próximo al venciemiento de la cuota 5 de tu préstamo, para pagar la misma hacé clic 
            a(href='')
              u aquí
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') ×
    .alert.text-dark.alert-dismissible.fade.show.mx-auto.col-md-12.col-11.py-2.border-bottom(role='alert')
      .d-flex
        img.mr-3(src='img/error-rojo-calendario.svg', alt='', style='width: 25px;margin-top: -45px;')
        div
          h5.my-auto.text-primary(style='font-size: 15px;') Próximo bloqueo de celular
          small
            | Faltan 2 días para que bloqueemos tu celular por pagos pendientes. Más detalles 
            a(href='')
              u aquí
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') ×
//- Sidebar Derecha END
