/*
 * MDBootstrap Lightbox
 * Learn more: https://mdbootstrap.com/docs/jquery/javascript/lightbox/
 * About MDBootstrap: https://mdbootstrap.com/
 */
/*! PhotoSwipe main cSS by dmitry Semenov | photoswipe.com | MIT license */
/*
  Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
.pswp {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1500;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  outline: none; }
  .pswp * {
    box-sizing: border-box; }
  .pswp img {
    max-width: none; }

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
  /* .001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
  opacity: .001;
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--open {
  display: block; }

.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: zoom-in; }

.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: grab; }

.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: grabbing; }

/*
  background is added as a separate element.
  as animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp__scroll-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.pswp__container,
.pswp__zoom-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  touch-action: none; }

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  user-select: none; }

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  /* for open/close transition */
  transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transform-origin: left top; }

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  transition: none; }

.pswp__item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }

.pswp__img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto; }

/*
  stretched thumbnail or div placeholder element (see below)
  style is added to avoid flickering in webkit/blink when layers overlap
*/
/*
  div element that matches size of large image
  large image loads on top of it
*/
.pswp__img--placeholder--blank {
  background: #222; }

.pswp--ie .pswp__img {
  top: 0;
  left: 0;
  width: 100%;
  height: auto; }

/*
  error message appears when image is not loaded
  (JS option errorMsg controls markup)
*/
.pswp__error-msg {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -8px;
  font-size: 14px;
  line-height: 16px;
  color: #ccc;
  text-align: center; }

.pswp__error-msg a {
  color: #ccc;
  text-decoration: underline; }

/*! PhotoSwipe default UI cSS by dmitry Semenov | photoswipe.com | MIT license */
/*

  contents:

  1. buttons
  2. Share modal and links
  3. Index indicator ("1 of X" counter)
  4. caption
  5. Loading indicator
  6. additional styles (root element, top bar, idle state, hidden state, etc.)

*/
/*

  1. buttons

 */
/* <button> css reset */
.pswp__button {
  position: relative;
  display: block;
  float: right;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  overflow: visible;
  cursor: pointer;
  background: none;
  border: 0;
  box-shadow: none;
  opacity: .75;
  transition: opacity .2s; }
  .pswp__button:focus, .pswp__button:hover {
    opacity: 1; }
  .pswp__button:active {
    outline: none;
    opacity: .9; }
  .pswp__button::-moz-focus-inner {
    padding: 0;
    border: 0; }

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
.pswp__ui--over-close .pswp__button--close {
  opacity: 1; }

.pswp__button,
.pswp__button--arrow--left::before,
.pswp__button--arrow--right::before {
  width: 44px;
  height: 44px;
  background: url(../../../../img/lightbox/default-skin.png) 0 0 no-repeat;
  background-size: 264px 88px; }

@media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left::before,
  .pswp--svg .pswp__button--arrow--right::before {
    background-image: url(../../../../img/lightbox/default-skin.svg); }

  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right {
    background: none; } }
.pswp__button--close {
  background-position: 0 -44px; }

.pswp__button--share {
  background-position: -44px -44px; }

.pswp__button--fs {
  display: none; }

.pswp--supports-fs .pswp__button--fs {
  display: block; }

.pswp--fs .pswp__button--fs {
  background-position: -44px 0; }

.pswp__button--zoom {
  display: none;
  background-position: -88px 0; }

.pswp--zoom-allowed .pswp__button--zoom {
  display: block; }

.pswp--zoomed-in .pswp__button--zoom {
  background-position: -132px 0; }

/* no arrows on touch screens */
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
  visibility: hidden; }

/*
  arrow buttons hit area
  (icon is added to :before pseudo-element)
*/
.pswp__button--arrow--left,
.pswp__button--arrow--right {
  position: absolute;
  top: 50%;
  width: 70px;
  height: 100px;
  margin-top: -50px;
  background: none; }

.pswp__button--arrow--left {
  left: 0; }

.pswp__button--arrow--right {
  right: 0; }

.pswp__button--arrow--left::before,
.pswp__button--arrow--right::before {
  position: absolute;
  top: 35px;
  width: 32px;
  height: 30px;
  content: "";
  background-color: rgba(0, 0, 0, 0.3); }

.pswp__button--arrow--left::before {
  left: 6px;
  background-position: -138px -44px; }

.pswp__button--arrow--right::before {
  right: 6px;
  background-position: -94px -44px; }

/*

  2. Share modal/popup and links

 */
.pswp__counter,
.pswp__share-modal {
  user-select: none; }

.pswp__share-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1600;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity .25s ease-out;
  will-change: opacity; }

.pswp__share-modal--hidden {
  display: none; }

.pswp__share-tooltip {
  position: absolute;
  top: 56px;
  right: 44px;
  z-index: 1620;
  display: block;
  width: auto;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  transition: transform .25s;
  transform: translateY(6px);
  will-change: transform; }
  .pswp__share-tooltip a {
    display: block;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    text-decoration: none; }
    .pswp__share-tooltip a:hover {
      color: #000;
      text-decoration: none; }
    .pswp__share-tooltip a:first-child {
      /* round corners on the first/last list item */
      border-radius: 2px 2px 0 0; }
    .pswp__share-tooltip a:last-child {
      border-radius: 0 0 2px 2px; }

.pswp__share-modal--fade-in {
  opacity: 1; }
  .pswp__share-modal--fade-in .pswp__share-tooltip {
    transform: translateY(0); }

/* increase size of share links on touch devices */
.pswp--touch .pswp__share-tooltip a {
  padding: 16px 12px; }

.pswp__share--facebook::before {
  position: absolute;
  top: -12px;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: "";
  border: 6px solid rgba(0, 0, 0, 0);
  border-bottom-color: #fff; }
.pswp__share--facebook:hover {
  color: #fff;
  background: #3e5c9a; }
  .pswp__share--facebook:hover::before {
    border-bottom-color: #3e5c9a; }

.pswp__share--twitter:hover {
  color: #fff;
  background: #55acee; }

.pswp__share--pinterest:hover {
  color: #ce272d;
  background: #ccc; }

.pswp__share--download:hover {
  background: #ddd; }

/*

  3. Index indicator ("1 of X" counter)

 */
.pswp__counter {
  position: absolute;
  top: 0;
  left: 0;
  height: 44px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 44px;
  color: #fff;
  opacity: .75; }

/*

  4. caption

 */
.pswp__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 44px; }
  .pswp__caption small {
    font-size: 11px;
    color: #bbb; }

.pswp__caption__center {
  max-width: 500px;
  padding: 10px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 20px;
  color: #ccc;
  text-align: center; }

.pswp__caption--empty {
  display: none; }

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
  visibility: hidden; }

/*

  5. Loading indicator (preloader)

  You can play with it here - http://codepen.io/dimsemenov/pen/yybWoR

 */
.pswp__preloader {
  position: absolute;
  top: 0;
  left: 50%;
  width: 44px;
  height: 44px;
  margin-left: -22px;
  direction: ltr;
  opacity: 0;
  transition: opacity .25s ease-out;
  will-change: opacity; }

.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px; }

.pswp__preloader--active {
  opacity: 1; }
  .pswp__preloader--active .pswp__preloader__icn {
    /* We use .gif in browsers that don't support cSS animation */
    background: url(../../../../img/lightbox/preloader.gif) 0 0 no-repeat; }

.pswp--css_animation .pswp__preloader--active {
  opacity: 1; }
  .pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
    animation: clockwise 500ms linear infinite; }
  .pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
    animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite; }
.pswp--css_animation .pswp__preloader__icn {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 14px;
  height: 14px;
  margin: 0;
  background: none;
  opacity: .75; }
.pswp--css_animation .pswp__preloader__cut {
  /*
    The idea of animating inner circle is based on Polymer ("material") loading indicator
     by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
  */
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden; }
.pswp--css_animation .pswp__preloader__donut {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  margin: 0;
  background: none;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%; }

@media screen and (max-width: 1024px) {
  .pswp__preloader {
    position: relative;
    top: auto;
    left: auto;
    float: right;
    margin: 0; } }
@keyframes clockwise {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes donut-rotate {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(-140deg); }
  100% {
    transform: rotate(0); } }
/*

  6. additional styles

 */
/* root element of UI */
.pswp__ui {
  z-index: 1550;
  visibility: visible;
  opacity: 1;
  -webkit-font-smoothing: auto; }

/* top black bar with buttons and "1 of X" indicator */
.pswp__top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px; }

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  will-change: opacity;
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible; }

.pswp__top-bar,
.pswp__caption {
  background-color: rgba(0, 0, 0, 0.5); }

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: rgba(0, 0, 0, 0.3); }

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
.pswp__ui--idle .pswp__top-bar {
  opacity: 0; }
.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0; }

/*
  pswp__ui--hidden class is added when controls are hidden
  e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  /* Force paint & create composition layer for controls. */
  opacity: .001; }

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none; }

.pswp__element--disabled {
  display: none; }

.pswp--minimal--dark .pswp__top-bar {
  background: none; }

.mdb-lightbox figure {
  float: left;
  margin: 0; }
  .mdb-lightbox figure .img-fluid {
    display: inline; }
  .mdb-lightbox figure img {
    cursor: zoom-in;
    border-radius: 0;
    transition: opacity 0.4s; }
    .mdb-lightbox figure img:hover {
      opacity: 0.8; }
  .mdb-lightbox figure figcaption {
    display: none; }
.mdb-lightbox.no-margin [class*="col-"] {
  padding: 0; }
.mdb-lightbox [class*="col-"] {
  padding: 0.5rem; }

/*# sourceMappingURL=lightbox.css.map */
