@font-face {
  font-family: 'crediminutos';
  src:  url('../fonts-icons/crediminutos.eot?mcmlqu');
  src:  url('../fonts-icons/crediminutos.eot?mcmlqu#iefix') format('embedded-opentype'),
    url('../fonts-icons/crediminutos.ttf?mcmlqu') format('truetype'),
    url('../fonts-icons/crediminutos.woff?mcmlqu') format('woff'),
    url('../fonts-icons/crediminutos.svg?mcmlqu#crediminutos') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts-icons */
  font-family: 'crediminutos' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.crediminutos-prestamos:before {
  content: "\e900";
}
.crediminutos-bancos:before {
  content: "\e901";
}
.crediminutos-inicio:before {
  content: "\e902";
}
.crediminutos-datos:before {
  content: "\e903";
}
.crediminutos-capana .path1:before {
  content: "\e904";
  color: rgb(216, 217, 221);
}
.crediminutos-capana .path2:before {
  content: "\e905";
  margin-left: -0.990234375em;
  color: rgb(216, 217, 221);
}
.crediminutos-capana .path3:before {
  content: "\e906";
  margin-left: -0.990234375em;
  color: rgb(207, 71, 51);
}
.crediminutos-bancos-rojo .path1:before {
  content: "\e907";
  color: rgb(114, 113, 118);
}
.crediminutos-bancos-rojo .path2:before {
  content: "\e908";
  margin-left: -0.9951171875em;
  color: rgb(114, 113, 118);
}
.crediminutos-bancos-rojo .path3:before {
  content: "\e909";
  margin-left: -0.9951171875em;
  color: rgb(114, 113, 118);
}
.crediminutos-bancos-rojo .path4:before {
  content: "\e90a";
  margin-left: -0.9951171875em;
  color: rgb(114, 113, 118);
}
.crediminutos-bancos-rojo .path5:before {
  content: "\e90b";
  margin-left: -0.9951171875em;
  color: rgb(114, 113, 118);
}
.crediminutos-bancos-rojo .path6:before {
  content: "\e90c";
  margin-left: -0.9951171875em;
  color: rgb(194, 38, 69);
}
.crediminutos-datos-rojo .path1:before {
  content: "\e90d";
  color: rgb(114, 113, 118);
}
.crediminutos-datos-rojo .path2:before {
  content: "\e90e";
  margin-left: -0.970703125em;
  color: rgb(114, 113, 118);
}
.crediminutos-datos-rojo .path3:before {
  content: "\e90f";
  margin-left: -0.970703125em;
  color: rgb(194, 38, 69);
}
.crediminutos-datos-rojo .path4:before {
  content: "\e910";
  margin-left: -0.970703125em;
  color: rgb(194, 38, 69);
}
.crediminutos-info-pago-rojo .path1:before {
  content: "\e911";
  color: rgb(114, 113, 118);
}
.crediminutos-info-pago-rojo .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(194, 38, 69);
}
.crediminutos-info-pago-rojo .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.crediminutos-realiza-pago .path1:before {
  content: "\e914";
  color: rgb(114, 113, 118);
}
.crediminutos-realiza-pago .path2:before {
  content: "\e915";
  margin-left: -1.8681640625em;
  color: rgb(114, 113, 118);
}
.crediminutos-realiza-pago .path3:before {
  content: "\e916";
  margin-left: -1.8681640625em;
  color: rgb(194, 38, 69);
}
.crediminutos-realiza-pago .path4:before {
  content: "\e917";
  margin-left: -1.8681640625em;
  color: rgb(194, 38, 69);
}
.crediminutos-reloj-amarillo .path1:before {
  content: "\e918";
  color: rgb(234, 181, 48);
}
.crediminutos-reloj-amarillo .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.crediminutos-check-verde .path1:before {
  content: "\e91a";
  color: rgb(21, 234, 132);
}
.crediminutos-check-verde .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.crediminutos-calendario-check:before {
  content: "\e91c";
  color: #fff;
}
.crediminutos-telefono-error:before {
  content: "\e91d";
  color: #fff;
}
.crediminutos-calendario-error:before {
  content: "\e91e";
  color: #fff;
}
.crediminutos-archivo:before {
  content: "\e91f";
  color: #fff;
}
.crediminutos-manos:before {
  content: "\e920";
  color: #fff;
}
